/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-abr-2020, 7:40:47
    Author     : cristian
    width: 30%;
    size: 50px;
*/
.titulo{
     position: fixed;
     left: 550px;
     font-size: 150%;
     text-align: center;
}
.Nombredelarchivo{
    position: fixed;
    top:70px;
    left:300px;
}
.examinar{
    position: fixed;
    left: 550px;
    top: 70px;
    border-radius: 5px; 
}
.subirArchivo{
    position: fixed;
    left: 550px;
    top: 110px;
    border-radius: 5px; 
}

.visualizarArchivo{
    position: fixed;
    left: 350px;
    top: 110px;
    border-radius: 5px; 
}