<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SevletLogin</servlet-name>
        <servlet-class>SevletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSeccion</servlet-name>
        <servlet-class>Sevlet.InicioSeccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registra</servlet-name>
        <servlet-class>Sevlet.Registra</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SevletLogin</servlet-name>
        <url-pattern>/SevletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSeccion</servlet-name>
        <url-pattern>/iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registra</servlet-name>
        <url-pattern>/Registra1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
